.header {
    border-top: 1px solid rgba(173, 173, 173, 0.35);
    padding: 10px 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 5px;
}

.App-link {
    color: #61dafb;
}

.demo{
    color: green;
    text-align: center;
}

.demo1{
    color: red;
}

.demo2{
    font-size: 40px;
}